---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Página de Curriculums Vitae">
  <h1>Sliders</h1>
  <ul>
    <li>
      <a href="/slider/effectMagic/">Slider con Efecto Mágico</a>
    </li>
  </ul>
</Layout>
