---
import Layout from '@/layouts/Layout.astro';
import Container from '@/components/base/Container.astro';
---

<Layout>
  <Container>
    <h1>Otros ejemplos</h1>
    <a href="/others/workwithdata">Formas de Obtener con Datos</a>
  </Container>
</Layout>
