---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Página de Curriculums Vitae">
  <h1>Curriculums Vitae</h1>
  <ul>
    <li>
      <a href="/cv/minimalist/">Curriculum Minimalista</a>
    </li>
  </ul>
</Layout>
